# Environment variables (set these in Railway dashboard)
# DO NOT commit real values to git!

WHATSAPP_ACCESS_TOKEN=your_access_token_here
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id_here
WHATSAPP_VERIFY_TOKEN=educatia123
SMTP_EMAIL=learnateducatiadso@gmail.com
SMTP_APP_PASSWORD=your_gmail_app_password_here
